name: CI/CD for HTML App - Dockers

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: [self-hosted, windows]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SonarQube Scan (Windows Local)
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          sonar-scanner.bat ^
            -Dsonar.host.url=%SONAR_HOST_URL% ^
            -Dsonar.token=%SONAR_TOKEN%
        shell: cmd

      - name: Stop and Remove existing container (if any)
        run: |
          if (docker ps -q -f "name=clock") {
            docker stop clock
            docker rm clock
          } else {
            Write-Host "No existing container"
          }
        shell: powershell
